<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Restaurant Apps</title>
  </head>
  <body>

    <nav>
      <div class="left-section">
          <div class="logo">Nama Aplikasi</div>
      </div>
      <div class="right-section">
          <a href="/">Home</a>
          <a href="#">Favorite</a>
          <a href="https://www.linkedin.com/in/dionisius-rizky" target="_blank">About Us</a>
      </div>
      <div class="hamburger">&#9776;</div>
  </nav>

  <div class="hero">
    <img src="src/public/images/heros/hero-image_4.jpg" alt="Hero Image">
</div>

  <script src="../scripts/index.js"></script>



    <!-- Konten website Anda akan diletakkan di sini -->


    <!-- <h1>Restaurant Apps Starter Project</h1>
    <p>Hallo coders! Anda berhasil menjalankan starter project.</p>
    <p>
      Jangan lupa untuk menggunakan salah satu gambar yang berada pada ./images/heros
      sebagai background hero elemen.
    </p>
    <img src="./images/heros/hero-image_1.jpg" width="450" alt="" />
    <img src="./images/heros/hero-image_2.jpg" width="450" alt="" />
    <img src="./images/heros/hero-image_3.jpg" width="450" alt="" />
    <img src="./images/heros/hero-image_4.jpg" width="450" alt="" /> -->
  </body>
</html>