<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Apps - Expert Submission</title>
  </head>
  <body>

    <nav id="main-nav">
      <a class="skip-link" href="#my-main-content">Skip to Content</a>
      <div class="left-section">
          <div class="logo">Dion Restaurant</div>
      </div>
      <div class="right-section">
          <a href="/">Home</a>
          <a href="#">Favorite</a>
          <a href="https://www.linkedin.com/in/dionisius-rizky" target="_blank">About Us</a>
      </div>
      <button class="hamburger" aria-label="Toggle Navigation">&#9776;</button>
  </nav>

      <div class="hero">
        <img src="images/heros/hero-image_4.jpg" alt="Hero Image">
      </div>

      <div class="restaurant-list" id="my-main-content">
        <!-- Daftar Restoran akan ditambahkan secara dinamis di sini -->
      </div>

      <footer>
        <p>&copy; 2023 - Dion Restaurant. All rights reserved.</p>
      </footer>

  <script src="../scripts/index.js"></script>



    <!-- <h1>Restaurant Apps Starter Project</h1>
    <p>Hallo coders! Anda berhasil menjalankan starter project.</p>
    <p>
      Jangan lupa untuk menggunakan salah satu gambar yang berada pada ./images/heros
      sebagai background hero elemen.
    </p>
    <img src="./images/heros/hero-image_1.jpg" width="450" alt="" />
    <img src="./images/heros/hero-image_2.jpg" width="450" alt="" />
    <img src="./images/heros/hero-image_3.jpg" width="450" alt="" />
    <img src="./images/heros/hero-image_4.jpg" width="450" alt="" /> -->
  </body>
</html>