body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

nav {
  background-color: #333;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-section {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.right-section {
  display: flex;
}

.right-section a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-size: 16px;
}

.right-section a:hover {
  text-decoration: underline;
}

.hamburger {
  display: none;
  font-size: 20px;
  cursor: pointer;
}

.hero {
  position: relative;
  overflow: hidden;
}

.hero img {
  width: 100%;
  height: auto;
  min-width: 1000px; /* Set the minimum width for the hero image on larger screens */
}

/* Media query untuk tampilan mobile pada navbar */
@media screen and (max-width: 600px) {
  /* Styles untuk tampilan mobile */
  .left-section, .right-section {
      flex-direction: column;
      align-items: flex-start;
  }

  .right-section {
      margin-top: 10px;
      display: none; /* Menyembunyikan menu pada awalnya */
  }

  .right-section.active {
      display: flex; /* Menampilkan menu saat tombol hamburger diklik */
  }

  .hamburger {
      display: block;
  }
}

/* Media query for smaller screens */
@media screen and (max-width: 1200px) {
  .hero img {
      min-width: 0; 
  }
}

